@import url("fonts/fonts.css");

* {
  font-family: 'Futura';
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #F7F4E4;
}

main {
  margin: auto;
  width: 80%;
  padding: 10px;
}

h1 {
  font-size: 4em;
  text-align:center;
}

.item {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item div{
  align-self: flex-start;
  width: 80%;  
  padding:15px
}

.item img {
  align-self: flex-start;
}

footer {
  display:inline-flex 
}

footer p{
  margin:10px
}

.copy {
  text-align:right;
}